@use "formatting";

// theme colors
$lightcolor: ivory;
$darkcolor: rgb(20, 0, 102);

// setting theme
@mixin theme($dark: true) {
  @if ($dark) {
    color: $lightcolor;
    background-color: $darkcolor;
    // box-shadow: 2px 2px 2px $lightcolor;
  } @else {
    color: $darkcolor;
    background-color: $lightcolor;
    box-shadow: 2px 2px 2px $darkcolor;
  }
  transition: all 0.5s ease;
}

body {
  display: grid;
  grid-template-rows: 1fr 9fr 1fr;
}

.head{
  font-size: 2em;
  display: grid;
  grid-template-columns: 1fr 6fr 1fr;
  place-items: center;
  @include theme;
  height: 100px;
  .status {
    font-size: medium;
    padding: 15px;
  }
  button {
    font-size: .5em;
    height: 40px;
    width: 60%;
    @include theme(false);
    background-color: aliceblue;
    color: black;
    &:hover {
      cursor: pointer;
      @include theme(false);
    }
  }
}

.foot{
  display: flex;
  background-color: rgb(56, 55, 55);
  color: $lightcolor;
  justify-content: center;
  align-items: center;
}

.body{
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  height: 100%;

  .info {
    display: grid;
    grid-template-rows: 1fr 2fr;
    .boat {
      cursor: pointer;
    }
    .key{
      align-self: center;
      justify-self: center;
      border: 2px solid $darkcolor;
      padding: 2px 10px 5px 10px;
      width: 50%;
      display: flex;
      flex-direction: column;
      .key_sect {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 15px;
      }
      .sunk {
        width: 50px;
        height: 25px;
        background-color: rgb(154, 9, 9);
        border: 2px solid $lightcolor;

      }

      h2{
        font-size: 25px;
      }
      .hit{
        color: rgb(154, 9, 9);
      }
    }

    .dock{
      justify-self: center;
      h2,
      h5 {
        text-align: center;
      }
      h2 {
        color:rgb(20, 0, 102);
      }
      width: 60%;
      .boat_lot{
        border: 2px solid $darkcolor;
        padding: 8px;
        display: flex;
        flex-direction: column;
        gap: 5px;
      }
      .boat{
        height: 30px;
        background-color: black;
      }
    }

    #rp {
      margin-bottom: 15px;
      justify-self: flex-end;
      height: 50px;
      width: 80%;
      background-color: $darkcolor;
      color: $lightcolor;
      &:hover{
        cursor: pointer;
        background-color: $lightcolor;
        border: 2px solid $darkcolor;
        color: $darkcolor;
      }
    }
  }

  .game{
    display: grid;
    place-items: center;
    .fullboard {
      place-items: center;
      height: 95%;
      width: 75%;
      background-color: $darkcolor;
      display: grid;
      grid-template-rows: 1fr 1fr;
      row-gap: 5px;
    }
    .board{
      display: grid;
      grid-template-columns: repeat(10, 1fr);
      width:90%;
      height:90%;
      background-color: black;
      
    }
    .cell {
      margin: 1px;
      padding: none;
      box-sizing: border-box;
    }
    p{
      padding: 0px;
      margin: 0px;
      border: 0px;
      align-self: center;
      justify-self: center;
      margin-bottom: -50px;
      text-align: center;
    }
    .empty {
      background-color: $lightcolor;
      .hovering {
        background-color: gray;
      }
    }
  
    .miss {
      background-color: $lightcolor;
      color: black;
    }
    .sunk {
      background-color: rgb(154, 9, 9);
    }
    .yours {
      background-color: black;
      &:hover {
        box-sizing: border-box;
        background-color: $lightcolor;
        cursor: pointer;
      }
    }
    .hit {
      font-size: 1em;
      background-color: black;
      color: rgb(154, 9, 9);
      font-weight: bolder;
    }
    .hovering {
      background-color: lightslategray;
      &:hover{
        cursor: pointer;
      }
    }
    .ecell {
      &:hover {
        cursor: crosshair;
        transition: all 0.2s ease;
        background-color: white;
      }
    }
  }
  
  .reset {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    button {
      margin-bottom: 15px;
      justify-self: flex-end;
      height: 50px;
      width: 80%;
      background-color: rgb(154, 9, 9);
      color: $lightcolor;
      &:hover{
        cursor: pointer;
        background-color: $lightcolor;
        border: 2px solid rgb(154, 9, 9);
        color: $darkcolor;
      }
    }
    .hardbtn {
      background-color: black;
      &:hover{
        cursor: pointer;
        background-color: $lightcolor;
        border: 2px solid black;
        color: black;
      }
    }
    .easybtn {
      background-color: darkgreen;
      &:hover{
        cursor: pointer;
        background-color: $lightcolor;
        border: 2px solid darkgreen;
        color: darkgreen;
      }
    }
    .pvpbtn {
      background-color: $darkcolor;
      &:hover{
        cursor: pointer;
        background-color: $lightcolor;
        border: 2px solid $darkcolor;
        color: $darkcolor;
      }
    }
  }
}

.returnbtn {
  min-height: 50px;
  background-color: black;
  color: whitesmoke;
  &:hover{
    cursor: pointer;
    background-color: $lightcolor;
    border: 2px solid black;
    color: black;
  }
}

.gg{
  display: grid;
  width: 100%;
  height: 100%;
  font-size: 3em;
  place-content: center;
}

.win_div{
  display: grid;
  width: 100%;
  font-size: 3em;
  place-content: center;
}