@use "formatting";

// theme colors
$lightcolor: ivory;
$darkcolor: rgb(53, 7, 7);

// setting theme
@mixin theme($dark: true) {
  @if ($dark) {
    color: $lightcolor;
    background-color: $darkcolor;
    box-shadow: 2px 2px 2px $lightcolor;
  } @else {
    color: $darkcolor;
    background-color: $lightcolor;
    box-shadow: 2px 2px 2px $darkcolor;
  }
  transition: all 0.5s ease;
}
